@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed&family=Secular+One&display=swap');

:root {

    /* Fonts */
    --title-font: 'Secular One';
    --secondary-font: 'Lora';
    --bread-font: 'Roboto Condensed';

    /* Colors */
    --font-white: #fff;
    --font-yellow: #FFD029;
}

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right, #0C164D, #190B22);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Index page styling */
.header__index {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.header__banner h1 {
    font-family: var(--title-font);
    color: var(--font-white);
    font-size: 4rem;
}

.header__banner p {
    font-family: var(--secondary-font);
    color: var(--font-yellow);
    font-size: 1.5rem;
}

.header__index h3 {
    font-family: var(--secondary-font);
    color: var(--font-white);
}

.header__search-bar {
    display: flex;
    flex-direction: column;
}

.search-label {
    font-family: var(--secondary-font);
    color: var(--font-yellow);
    font-size: 1.2rem;
}

.search-input {
    font-family: var(--bread-font);
    color: var(--font-white);
    font-size: 1rem;
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(59, 66, 94, 0.6);
}

.search-button {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    margin: 10px;
    background-color: #FFD029;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1rem;
}

.search-result,
.search-result a {
    color: var(--font-white);
}

.planet-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17rem 0;
}

.Solen,
.Merkurius,
.Venus,
.Jorden,
.Mars,
.Jupiter,
.Saturnus,
.Uranus,
.Neptunus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.Solen {
    width: 800px;
    height: 900px;
    position: absolute;
    left: -600px;
    background-color: #FFD029;
    box-shadow: 10px 10px 70px 5px rgba(255,237,14,0.75);
}

.Merkurius {
    background-color: #656565;
    width: 40px;
    height: 40px;
    margin-left: 18rem;
    box-shadow: -5px 5px 10px 1px rgba(0,0,0,0.31) inset;
}

.Venus {
    background-color: #ff8629;
    width: 60px;
    height: 60px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.31) inset;
}

.Jorden {
    background-color: #1538c3;
    width: 60px;
    height: 60px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.31) inset;
}

.Mars {
    background-color: #ff2929;
    width: 30px;
    height: 30px;
    box-shadow: -5px 5px 10px 1px rgba(0,0,0,0.31) inset;
}

.Jupiter {
    background-color: #fbbc50;
    width: 200px;
    height: 200px;
    box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.31) inset;
}

.Saturnus {
    background-color: #f1dd96;
    width: 150px;
    height: 150px;
    box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.31) inset;
}

.Uranus {
    background-color: #9cf5fb;
    width: 90px;
    height: 90px;
    box-shadow: -5px 5px 10px 3px rgba(0,0,0,0.31) inset;
}

.Neptunus {
    background-color: #2931d5;
    width: 90px;
    height: 90px;
    margin-right: 3rem;
    box-shadow: -5px 5px 10px 3px rgba(0,0,0,0.31) inset;
}

/* Result/Info page styling */
.back-button {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFD029;
    margin: 2rem;
}

.planet-card {
    color: var(--font-white);
    background-color: rgba(15, 5, 26, 0.4);
    padding: 2rem 3rem;
    margin: 2rem 25rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(255, 170, 245, 0.618);
}

.planet-card h2 {
    font-family: var(--title-font);
    font-size: 3rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.planet-card h3 {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: var(--font-yellow);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.info-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
}

.planet-card p {
    font-family: var(--bread-font);
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.planet-card h5 {
    font-family: var(--title-font);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.moons {
    padding-top: 1rem;
}


